<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="amis"
        android:supportsRtl="true"
        android:theme="@style/Theme.perikanan_ti6a"
        tools:targetApi="31">
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SettingsUserActivity"
            android:exported="false" />
        <activity
            android:name=".ikan.AddIkanActivity"
            android:exported="false" />
        <activity
            android:name=".ikan.EditIkanActivity"
            android:exported="false" />
        <activity
            android:name=".keranjang.KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".users.UsersMainActivity"
            android:exported="false" />
        <activity
            android:name=".users.DetailIkanActivity"
            android:exported="false" />
        <activity
            android:name=".users.BeliGagalActivity"
            android:exported="false" />
        <activity
            android:name=".users.BeliSuksesActivity"
            android:exported="false" />
        <activity
            android:name=".users.RiwayatPerbelanjaanActivity"
            android:exported="false" />
        <activity
            android:name=".users.DetailIkanKeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".users.LoadingActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>